body {
    background-color: rgb(157, 169, 179);
}

h1 {
    text-align: center;
    color: red;
}

h2 {
    text-align: center;
}


div.heroes {
    display: inline-block;
    margin-left: 37%;
    border: 1px solid black;
}

p {
    text-align: center;
    color: black;
    background-color: red;
    width: 100px;
    margin: auto;
    margin-top: 15px;
    padding: 0.5%;
    
}

a {
    text-decoration: none;
}